* {
    font-family: Roboto, sans-serif;
}


/* NAV BAR */
// .topbar-box {
//     display: flex;

//     // background-color: #F3F2ED !important;

    
// }

.topbar {
    width: 100%;
    position: relative;
    background-color: #F3F2ED;
}

.topbar-container {
    // max-width: 96%;
    // width: 1500px;
    // margin: 0 auto;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
    // position: relative;
    padding: 0;

    @media (max-width: 766px) {
        display: none
    }
    
    // @media (min-width: 799px) and (max-width:1300px) {
    //     width: 100%;
    // }
}
    
    // @media only screen and (max-width: 767px) {
    //     .topbar-container {
    //         display: none;
    //     }
    
    // }
    
.nav-bar {
        display: flex;
        background-color: #F3F2ED !important;
        margin: 0 auto;
        position: relative !important;
}

.menu-section {
    max-width: 96%;
    margin: 0 auto;
    width: 1500px;
    // width: 100%;

    // @media (min-width: 320px) and (max-width: 768px) {
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: center;
        //     align-items: center;
        //     flex-shrink: inherit;
        // }
}

.navbar-logo {
    margin: 20px;

    @media (min-width: 320px) and (max-width: 768px) {
        height: 40px;
        width: 40px
    }
}

.navbar-box {
    background-color: #F3F2ED !important;
    // max-width: 1500px;
    width: 100%;
    // flex-grow: 1;

    @media (min-width: 320px) and (max-width: 768px) {
        flex-wrap: wrap;
    }
}

// MOBILE NAVBAR

.mobile-nav-container {
    background-color: #F3F2ED;
    padding: 8px 10px
}

@media only screen and (min-width: 768px) {
    .mobile-nav-container {
        display: none !important;
    }

    .topbar-container{
        display: block !important;
    }

}

@media only screen and (max-width: 994px) {
    .mobile-nav-container {
        display: block !important;
        padding: 8px 10px
    }
    .topbar-container{
        display: none !important;
    }
}

.menu-btn {
    text-align: end;
}